body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: "Nunito", sans-serif;
}

.header {
  max-width: 1920px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.logo img {
  width: 181px;
  height: 41px;
}

.search {
  display: flex;
  width: 718px;
  border-bottom: 1px solid #7A7A7A;
}

#icon-glass {
  position: absolute;
  right: 350px;
  top: 25px;
}

.banner-rotativo {
  position: relative;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #007BFF;
}
